fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
python-dotenv

sqlalchemy
alembic
psycopg2-binary

celery
redis
sse-starlette

passlib[bcrypt]
bcrypt
PyJWT
email-validator

httpx
Pillow
