fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
python-dotenv

sqlalchemy
alembic
psycopg2-binary

celery
redis
sse-starlette

passlib[argon2]
argon2-cffi
PyJWT
email-validator

httpx
Pillow
